@font-face {
  font-family: 'Poppins-Medium';
  src: local('Poppins-Medium'),
    url('../../assets/Poppins-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'DIN2014-Bold';
  src: local('DIN2014-Bold'),
    url('../../assets/DIN2014-Bold.ttf') format('opentype');
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"),
    url("../../assets/Roboto-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("../../assets/Roboto-Light.ttf") format("opentype");
}



@font-face {
  font-family: "Quicksand-VariableFont_wght";
  src: local("Quicksand-VariableFont_wght"),
    url("../../assets/Quicksand-VariableFont_wght.ttf") format("opentype");
}

.FooterHome {
 
    width: 100%;
    margin-top: 20%;
    background-color: #1d2a4d;
    color: white;
    
    padding-left: 10%;
    padding-top: 2%
  };
  
 
  .Footer_item_title{
    font-family:DIN2014-Bold ;
    font-size: 18px;

  }

  .footer_link_item{
    font-family: "Roboto-Light";
    font-size: 14px;
    margin-top: 7px;
  }


  .link_title{
    font-family: "Quicksand-VariableFont_wght";
    font-size: 18px;
    min-width: 150px;
    margin-top: 10%;
    font-weight: bold;

  }

  .container_icon{
    display: flex;
    align-items:end;
    padding-left: 70%;
    margin-top: 10%;


  }

  @media screen and (max-width: 767px){
    .container_icon{
      padding-left: 1%;
    }
  }